@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Fira+Sans+Condensed|Fjalla+One');
html {
    min-height: 100%
}
body {
    min-height: 100%
}
.uni-recom {
    font-family: 'Fira Sans Condensed', sans-serif;
}

.logo1 {
    background: url("http://downloadicons.net/sites/default/files/graduation-icon-66502.png");
    width: 120px;
    height: 120px;
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
    font-size: 4rem;
    font-family: 'Fjalla One', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.recom-to-rows {
    font-family: 'Fira Sans Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 30px;
    background-color: gainsboro;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: maroon;
}

.rec-table {
    width: 50px;
}

.main-settings {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
}

.recom-display {
    display: flex;
    flex-direction: row;
}

.recom-padding {
    padding-top: 30px;
    padding-bottom: 15px;
    font-family: 'EB Garamond', sans-serif;
}

.second-title {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 600;
    padding-bottom: 22px;
    padding-top: 5px;
}

.text-description {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 15px;
}

.caption {
    padding: 15px;
}

.main-block {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: darkgrey;
}

.uni-padding {
    padding-right: 45px;
    padding-bottom:25px;
}

.text-univer {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 16px;
}

.row {
    
    --margin-left:15px;
    margin-right: 3%;
    margin-left: 3%;
    
}
.quiz-pad {
margin-bottom:130px;
margin-top:20px;
}

.top-univer {
    font-family: 'Fira Sans Condensed', sans-serif;
}
