@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Fira+Sans+Condensed|Fjalla+One');
html {
    min-height: 100%
}
body {
    min-height: 100%
}

.uni-recom {
    font-family: 'Fira Sans Condensed', sans-serif;
}

.logo1 {
    background: url("http://downloadicons.net/sites/default/files/graduation-icon-66502.png");
    width: 120px;
    height: 120px;
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
    font-size: 4rem;
    font-family: 'Fjalla One', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.recom-to-rows {
    font-family: 'Fira Sans Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 30px;
    background-color: gainsboro;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: maroon;
}

.rec-table {
    width: 50px;
}

.main-settings {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
}

.recom-display {
    display: flex;
    flex-direction: row;
}

.recom-padding {
    padding-top: 30px;
    padding-bottom: 15px;
    font-family: 'EB Garamond', sans-serif;
}

.second-title {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 600;
    padding-bottom: 22px;
    padding-top: 5px;
}

.text-description {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 15px;
}

.caption {
    padding: 15px;
}

.main-block {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: darkgrey;
}

.uni-padding {
    padding-right: 45px;
    padding-bottom:150px;
}

.img-univer {
    width: 160px;
}

.img-round {
    border-radius: 70%;
}

.text-univer {
    padding-top: 15px;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 16px;
    width: 160px;
}

.univer-in-row {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.top-univer {
    font-family: 'Fira Sans Condensed', sans-serif;
}

.main-container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}
.remove-all-padding {
    padding: 0 !important;
}
.main-nav li .glyphicon {
    margin-right: 0px;
}

/* Highlighting rules for nav menu items */
.main-nav li a.active,
.main-nav li a.active:hover,
.main-nav li a.active:focus {
    background-color: #4189C7;
    color: white;
}
.navbar {
    margin-bottom: 0px;
    border-radius:0px;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.rec-pad-left{
padding-left:50px;
}
footer {
    
    width: 100%;
    height: 120px;
    position: relative;
    bottom: 0;
    left: 0;
}
.table{width: 100%; 
}

.footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 15px 50px;
    margin-top: 40px;
}

    .footer-distributed .footer-left p {
        color: #8f9296;
        font-size: 14px;
        margin: 0;
    }

    /* Footer links */

    .footer-distributed p.footer-links {
        font-size: 18px;
        font-weight: bold;
        color: #ffffff;
        margin: 0 0 10px;
        padding: 0;
    }

        .footer-distributed p.footer-links a {
            display: inline-block;
            line-height: 1.8;
            text-decoration: none;
            color: inherit;
        }

    .footer-distributed .footer-right {
        float: right;
        margin-top: 6px;
        max-width: 180px;
    }

        .footer-distributed .footer-right a {
            display: inline-block;
            width: 35px;
            height: 35px;
            background-color: #33383b;
            border-radius: 2px;
            font-size: 20px;
            color: #ffffff;
            text-align: center;
            line-height: 35px;
            margin-left: 3px;
        }

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

    .footer-distributed .footer-left,
    .footer-distributed .footer-right {
        text-align: center;
    }

    .footer-distributed .footer-right {
        float: none;
        margin: 0 auto 20px;
    }

    .footer-distributed .footer-left p.footer-links {
        line-height: 1.8;
    }
}
