@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Fira+Sans+Condensed|Fjalla+One');
.logo1 {
    background: url("http://downloadicons.net/sites/default/files/graduation-icon-66502.png");
    width: 120px;
    height: 120px;
    background-size: cover;
    background-repeat: no-repeat;
}
.title {
    font-size: 4rem;
    font-family: 'Fjalla One', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.second-title {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 600;
    padding-bottom: 22px;
    padding-top: 5px;
}
.text-description {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding-bottom:15px;
}
.caption{
    padding: 15px;
}
.main-block {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: darkgrey;
}
.uni-padding{
    padding-right:45px;
}
.img-univer{
    width:160px;
}
.img-round{
    border-radius:70%;
}
.text-univer {
    padding-top:15px;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size:16px;
    width:160px;
}
.univer-in-row{
    margin-top:20px;
    display:flex;
    flex-direction:row;
    justify-content:center;
}
.top-univer {
    font-family: 'Fira Sans Condensed', sans-serif;
}
.main-container{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

.remove-all-padding {
    padding: 0 !important;
}
.main-nav li .glyphicon {
    margin-right: 0px;
}

/* Highlighting rules for nav menu items */
.main-nav li a.active,
.main-nav li a.active:hover,
.main-nav li a.active:focus {
    background-color: #4189C7;
    color: white;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}

@media (min-width: 768px) {
    /* On small screens, convert the nav menu to a vertical sidebar */
    .main-nav {
        height: 100%;
        width: calc(25% - 20px);
    }
    .main-nav .navbar {
        border-radius: 0px;
        border-width: 0px;
        height: 100%;
    }
    .main-nav .navbar-header {
        float: none;
    }
    .main-nav .navbar-collapse {
        border-top: 1px solid #444;
        padding: 0px;
    }
    .main-nav .navbar ul {
        float: none;
    }
    .main-nav .navbar li {
        float: none;
        font-size: 15px;
        margin: 6px;
    }
    .main-nav .navbar li a {
        padding: 10px 16px;
        border-radius: 0px;
    }
    .main-nav .navbar a {
        /* If a menu item's text is too long, truncate it */
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
