<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
        <add name="ConnectionString" connectionString="Data Source=tcp:epadb.database.windows.net,1433;Initial Catalog=Lv-273.Net.Epa;Persist Security Info=False;User ID=Lv273Net;Password=!netLv273;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>