@{
    ViewData["Title"] = "Home";
}

<div id="react-app">

    <div class="loadScreen">
        <div class="loadImgOpac">
            <div class="loadImgMove">
                <div class="loadImgRotate"> <span> </span>  </div>
            </div>
        </div>
    </div>
    
    </div>

@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
}
